<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

	
<suite name="MyTestSuite">

    <!-- Configuring parameters for the entire suite -->
    <parameter name="browser" value="chrome" />
	
	<listeners>
		<listener class-name="Formy.utils.ExtentReporterNG" />
	</listeners>

    <test name="MyTest">
                <classes>
            <class name="Formy.Tests.TestNGBasics" />
            <class name="Formy.Tests.TestNGBasics2" />
            <class name="Formy.Tests.SwitchWindowTest" />
        </classes>
        
    </test>

</suite>
